.seguro-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-00), inset 0 -120px var(--cor-12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.seguro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo {
  padding: 180px 20px;
}

.seguro-conteudo h2 {
  margin-bottom: 32px;
}

.seguro-conteudo p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: inset 0 -60px var(--cor-12);
  }
  .seguro {
    grid-template-columns: 1fr;
  }
  .seguro-conteudo {
    grid-row: 1;
    padding: 20px 0;
  }
  .seguro-conteudo h2 {
    max-width: 32ch;
  }
  .seguro-conteudo p {
    max-width: 60ch;
  }
  .seguro-imagem {
    height: 400px;
  }
}
